*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.calcContainer{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(190, 190, 190);
    width: 300px;
    height: 460px;
    border-radius: 10px;
}
.calcDisplay{
    margin-top: 30px;
    padding: 20px 6px;
    width: 80%;
    background-color: white;
    border-radius: 6px;
    text-align: right;
}
.buttonContainer{
    margin:40px 20px;
    display: flex;
    /* flex: 1; */
    justify-content: space-evenly;
    flex-flow: row wrap;
    row-gap: 12px;
    column-gap: 4px;
}
.btn{
    flex: 1;
    padding:0px 20px;
    font-size: 30px;
    border-radius: 10px;
}
.clear,.undo{
    background-color: rgb(255, 78, 78);
}